body{
    background-color:black;
}

p{
color: aliceblue;
font-size: x-large;
font-style: italic;
font-family: serif;
margin-left: 530px ;
padding: auto;
}

.image{
    width: 400px;
    margin-left: 35%;
    margin-top: 3%;
    border: 5px rgba(122, 14, 14, 0.747) solid;
}

